[submodule "inference"]
	path = inference
	url = git@github.com:chisuhua/AgenticInfer.git
[submodule "runtime"]
	path = runtime
	url = git@github.com:chisuhua/AgenticDSL.git
[submodule "memory"]
	path = memory
	url = git@github.com:chisuhua/AgenticMemory
[submodule "knowledge"]
	path = knowledge
	url = git@github.com:chisuhua/AgenticKG
